<section class="sec-header" id="RailsGirls">
  <div class="sec-header-logo">
    <%= image_tag 'logo_red.png', alt: 'RailsGrils Chisinau' %>
  </div>
  <div class="sec-header-period">
    <p><strong>Editia III</strong></p>
    <p> 13 MAI - 27 MAI 2017</p>
    <%= link_to "Aplică acum", new_candidate_profile_path, class: "btn btn-apply"%>
  </div>
  <br>
  <br>
  <br>
  <br>
</section>

<section class="sec-about mini-slide" id="Despre" style="font-family: 'Titillium Web';">
  <ul>
    <li class="calendar active">Durată</li>
    <li class="why">De ce să particip?</li>
    <li class="money">Cost</li>
    <li class="mentors">Mentori</li>
    <li class="who">Cine poate participa?</li>
  </ul>

  <select>
    <option selected="selected">Durată</option>
    <option>De ce să particip?</option>
    <option>Cost</option>
    <option>Mentori</option>
    <option>Cine poate participa?</option>
  </select>

  <div class="sec-about-text">
    <p>Cursurile vor fi lansate la ceremonia de deschidere pe 13 mai, iar activitățile didactice vor avea loc în sâmbetele de 13, 20 și 27 mai 2017. Sîmbătă, 27 mai, după ultimul workshop, te invităm la ceremonia de închiderea unde vom face concluzii asupra lucrul efectuat.</p>
    <br />
    <p>În total, vei beneficia de 30 de ore de curs și ateliere practice, pe care te încurajăm să le suplimentezi cu lucru independent pe parcursul săptămânii.</p>
    <br />
    <p>La sfârșitul cursului, ne propunem să creăm o comunitate activă, alături de care vom organiza alte evenimente și ateliere.</p>
    <br />
    <br />
    <h4><strong>LOCAŢIA:</strong></h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10871.060868518307!2d28.8661509788208!3d47.0644557634521!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41e815fb62f45930!2sTekwill!5e0!3m2!1sro!2s!4v1489746837841" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h4><strong>PROGRAM:</strong></h4>
    <br />
    <p><strong>Duminică, 23 aprilie</strong> - Se închide perioada de aplicare. Așa că grăbiți-vă ;)</p>
    <br />
    <p><strong>Sâmbătă, 29 aprilie</strong> - Anunțăm participanții admiși</p>
    <br />
    <p>
      <strong>Sâmbătă, 13 mai - 10:00 - 18:00</strong>
      Deschiderea cursului. Vom prezenta scopul cursului, forma grupurile de lucru, da toate sfaturile pe care putem să le dăm, instala software-ul necesar pentru cei care vor să lucreze cu propriul laptop, şi vom face primii paşi în elaborarea unui proiect grandios!
    </p>
    <br />
    <p>
      <strong>Sâmbătă, 20 mai - 10:00 - 18:00</strong>
      Scriem cod, discutăm, mai privim o prezentare și facem gimnastică.
    </p>
    <br />
    <p>
      <strong>Sâmbătă, 27 mai - 10:00 - 18:00</strong>
      Închiderea cursului. Facem ultimile retuşări, ne lăudăm cu ce-am făcut, discutăm, și vedem ce posibilități de follow-up există.
    </p>
  </div>

  <div class="sec-about-text">
    <p>Vom învăța împreună ce este o aplicație web și te vom ajuta să realizezi propriul proiect folosind Ruby on Rails, tehnologia care înregistrează în prezent cea mai mare creștere în popularitate printre programatorii web din Republica Moldova. Vei descoperi practicile și tehnologiile moderne în contexte actuale.</p>
    <br />
    <p>De la începător la propriul proiect? Noi credem că e posibil.</p>
    <br />
    <p>Alături de noi și colaborând cu ceilalți participanți vei învăța:</p>
    <ul class="info-ul">
      <li>Ce este o aplicație web și ce se află în spatele aplicațiilor moderne</li>
      <li>Ce înseamnă web development, protocolul HTTP, conexiuni server-client</li>
      <li>Cum este creată o pagină web statică: HTML și CSS</li>
      <li>Cum este creat conținutul dinamic: Ruby și Ruby on Rails</li>
      <li>Cum să lucrezi în echipă și să găsești soluții pentru problemele tehnice cu care te confrunți</li>
    </ul>
    <br />
    <p>Vom încerca să demistificăm concepte ce par acum complexe și vom acoperi, pas cu pas, ceea ce este necesar pentru a dezvolta funcționalitatea unei mici retele sociale.</p>
  </div>

  <div class="sec-about-text">
    <p>Costul? Simplu! Absolut gratuit. Cerem de la tine doar asiduitate și set de cunoaștere.</p>
  </div>

  <div class="sec-about-text">
    <p>Atelierele vor fi ghidate de unii dintre cei mai buni programatori Ruby on Rails din Republica Moldova, precum și alți specialiști din domeniul IT, care îți vor pune la dispoziție vastele lor cunoștințe și experiență.</p>
    <br />
    <ul class="info-ul">

      <li>Alisa Frunză - Participant la RailsGirls Ediția I, programator Ruby on Rails, SaltEdge</li>
      <li>Ivan Danci - Programator Ruby on Rails, SaltEdge</li>
      <li>Vladimir Pintea - Programator Ruby on Rails, SaltEdge</li>
      <li>Vladislav Ledniov - Programator Ruby on Rails, SaltEdge </li>
      <li>Trili Diana - Participant la RailsGirls Ediția I, SaltEdge </li>
      <li>Dmitrii Galcenko - Programator Ruby on Rails, SaltEdge</li>
      <li>Eduard Makarov - Programator Ruby on Rails, SaltEdge </li>
      <li> Sava Virtosu - Programator Ruby on Rails, Lector, Universitatea Tehnică a Moldovei </li>
      <li> Alex Patrasco - Programator Ruby on Rails, SaltEdge </li>
      <li> Sergiu Strelţov - Programator Ruby on Rails, SaltEdge </li>
      <li>
    </ul>
  </div>

  <div class="sec-about-text">
    <p>Tinere de la 18 ani (facem, desigur, excepții), care vor să descopere ce este o aplicație web și să realizeze propriul proiect. Încurajăm începătorii, vino chiar dacă nu ai lucrat niciodată la dezvoltarea unui produs web. Cunoașterea limbii engleze te va avantaja în timpul activităților individuale.</p>
    <br />
    <p>Experiența anterioară în proiecte sociale și ideea unui proiect pe care îl vei implementa în timpul atelierelor este binevenită - noi vrem să te încurajăm să dezvolți un instrument util ție și comunității.</p>
  </div>
</section>

<section class="sec-apply" id="Aplica">
  <ul class="sec-apply-list">
    <li class="form"><i></i><span>1.</span> Completează formularul de aplicare</li>
    <li class="interview"><i></i><span>2.</span> Aşteaptă rezultatele </li>
    <li class="acceptance"><i></i><span>3.</span> Confirmă participarea la eveniment </li>
  </ul>

  <div class="sec-apply-btn">
    <%= link_to "Aplică", new_candidate_profile_path, class: "btn btn-apply" %>
  </div>
</section>

<section class="sec-contact" id="Contact">
  <h3>Pentru a ne adresa orice întrebare, te rugăm să ne contactezi</h3>
  <center>
  <div class="sec-contact-info">
      <p class="mail"><i></i><a href="mailto:railsgirlsmd@gmail.com">railsgirlsmd@gmail.com</a></p>
  </div>
</center>
</section>

<section class="sec-sponsors" id="Sponsors">
  <h3>Sponsori</h3>
  <div class="sponsors-logo">

    <a href="https://www.saltedge.com">
      <%= image_tag 'saltedge-logo.png', alt: 'Saltedge', style: 'margin-left: 80px;', :size => "260x180" %>
    </a>
    <a href="https://www.ellation.com">
      <%= image_tag 'ellation-logo.png', alt: 'Ellation', style: 'margin-left: 80px;', :size => "260x180" %>
    </a>
    <a href="https://ffwagency.com">
      <%= image_tag 'ffw-agency-logo.png', alt: 'FFW Agency', style: 'margin-left: 80px;', :size => "260x180" %>
    </a>
    <a href="https://www.mixbook.com">
      <%= image_tag 'mixbook-logo.png', alt: 'Mixbook', style: 'margin-left: 80px;', :size => "260x180" %>
    </a>
  </div>
</section>


<section class = "sec-sponsors" id = "Partners">
  <h3>Parteneri</h3>
  <div class="sponsors-logo">

  <a href="https://www.tekwill.md">
      <%= image_tag 'logo-Tekwill.png', alt: 'Tekwill', style: 'margin-left: 80px;' , :size => "260x180" %>
    </a>
  </div>
</section>



<style>
.info-ul li {
  display: list-item;
  text-transform: none;
  text-align: left;
  width: 100%;
  margin-top: 6px;
}

.with-bullets {
  list-style-position: outside;
  list-style-type: circle
}

.with-bullets li {
  margin-left: 30px;
  padding-left: 0px;
}
</style>
